<div class="container my-6">
    <div class="row">
        <div class="col-4">


         

            <label class="badge bg-secondary">Rapid search by Category</label>
            <br>
            <input type="text" #searchBox (keyup)="search(searchBox.value)" placeholder="category search"/>
          <div class="list-group">
            
            <button type="button" class="list-group-item list-group-item-action" *ngFor="let cat of depenses$ | async"
            
            (click)="gotoEdit(cat)">
                {{cat.name}} -  {{cat.categories}} - {{cat.amount | currency:'€'}} 
            </button>
            
      
          </div>
        </div>
      
      </div>
</div>
