<div class="container my-5">
    
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
        <h1 class="mb-3" id="titleSpent"> ADD NEW SPENT</h1>
    </div>
    <div class="row">
        <div class="col-6">

            <form #AddDepenseForm="ngForm" (ngSubmit)="addSpent()">
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" 
                    name="name" 
                    #name="ngModel"
                    required
                    pattern="^([a-z-A-Z]){1,40}$"
                    [(ngModel)]="addDepenseRequest.name"
                    [ngModelOptions]="{standalone: true}">
                    <br>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                      this field required (1-100) or no space .
                    </div>
                </div>

                <div class="mb-3">
                  <label for="Amount" class="form-label">Amount</label>
                  <input type="number" class="form-control" id="Amount"
                    name="Amount" 
                    #Amount="ngModel"
                    required
                    pattern="^[0-9]{1,6}$"
                    [(ngModel)]="addDepenseRequest.amount"
                    [ngModelOptions]="{standalone: true}">

                    <br>
                    <div [hidden]="Amount.valid || Amount.pristine" class="alert alert-danger">
                      this field required max (6).
                    </div>

                </div>

                <div class="mb-3">
                    <label for="Categories" class="form-label">Categories</label>
                    <input type="text" class="form-control" id="Categories"
                    name="Categories" 
                    #Categories="ngModel"
                    required
                    pattern="^[a-z-A-Z]{1,35}$"

                    [(ngModel)]="addDepenseRequest.categories"
                    [ngModelOptions]="{standalone: true}">
                    <br>
                    <div [hidden]="Categories.valid || Categories.pristine" class="alert alert-danger">
                      this field required (1-35).
                    </div>
                  </div>
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="mandatory"
                    name="mandatory"
                    #mandatory="ngModel"
                    [(ngModel)]="addDepenseRequest.mandatory"
                    [ngModelOptions]="{standalone: true}"
                    >
                    <label class="form-check-label" for="mandatory">Mandatory</label>
                  </div>
                  <div class="mb-3">
                    <label for="Date" class="form-label">Date</label>
                    <input type="date" class="form-control" id="Date"
                    name="Date"
                    #Date="ngModel"
                    required
                    [(ngModel)]="addDepenseRequest.dateDepenses"
                    [ngModelOptions]="{standalone: true}"
                    >
                  </div>
                <button type="submit" class="btn btn-primary" [disabled]="!AddDepenseForm.form.valid">Save</button>
              </form>

            </div>
    </div>

    <div *ngIf="addDepenseRequest.amount <= 0">
      <div id="messageErrorAmount">
        <span class="badge bg-danger">{{messageError}}</span>
      </div>
      
    </div>
    
    
</div>
